!!!
%head
  %title minimal-http-ruby
  %meta{:charset => "utf-8"}/
  %link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css"}
  %script{:src => "https://code.jquery.com/jquery-2.1.1.min.js"}
  %script{:src => "/script.js"}

%body
  %h1 Congratulations!
  %hr
  You have installed minimal-http-ruby
  %hr
  Next, please edit file: haml/index.haml to get started!
  %br
  And for css: css/style.css to get started!
  %br
  And for coffeescript: coffee/script.coffee to get started!
  %hr
  Epoch Clock from minimal-http-ruby with AJAX:
  %span.adata
    [this should be updated with AJAX]
  %hr
  Epoch Clock from minimal-http-ruby with SSE:
  %span.data
    [this should be updated with SSE]

